#ios-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

#ios-play-btn.hidden {
  display: none;
}

#ios-play-btn svg {
  width: 48px;
  height: 48px;
  color: #fff;
}
