#screenshare-btn[aria-pressed="true"] {
  color: #62b673;
  background: #00863A3D;
}

#screenshare-btn[aria-pressed="true"]:hover {
  background-color: #00863A55;
}

#screenshare-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
