#video-controls {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 7%,
    rgba(0, 0, 0, 0) 93%,
    rgba(0, 0, 0, 0.35) 100%
    );
  opacity: 1;
  transition: opacity 0.4s ease;
}

#video-controls.hidden {
  opacity: 0;
}

#bottom-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: transparent;
  color: #fff;
  z-index: 3;
}

.control-btn {
  position: relative;
  background: none;
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  color: inherit;
  transition: background 0.1s ease;
}

.control-btn .icon {
  width: 24px;
  height: 24px;
  display: none;
}

.control-btn .tooltip {
  display: none;
  width: max-content;
  background-color: #212121;
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(151,151,159,0.4);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  white-space: nowrap;
  z-index: 10;
}

.control-btn .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #212121 transparent transparent transparent;
}

.control-btn:hover .tooltip {
  visibility: visible;
}

.control-btn[aria-pressed="false"] .before,
.control-btn[aria-pressed="true"] .after {
  display: block;
}

.center-control {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px;
  background-color: #0F0F0F;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #97979f3d;
}

.center-control .control-btn:hover,
.center-control .control-select:hover {
  background: #444;
}

.center-control .control-btn:disabled:hover {
  background-color: transparent;
}

.center-control .control-select:disabled:hover {
  background-color: #282828;
  cursor: not-allowed;
}

.right-control {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 12px;
  color: #F1F1F1;
  filter: drop-shadow(0 0 1px black);
}

.right-control .control-btn:hover {
  color: #fff;
  background-color: transparent;
}
