#volume-ctl {
  position: relative;
  display: inline-flex;
  align-items: center;
}

#volume-ctl.hidden {
  visibility: hidden;
}

#volume-ctl:hover #volume-slider {
  opacity: 1;
}

#volume-btn[data-level="high"] .high,
#volume-btn[data-level="low"] .low,
#volume-btn[data-level="muted"] .muted {
  display: block;
}

#volume-btn .tooltip {
  visibility: hidden;
}

#volume-btn .tooltip.volume-unchanged.on-video-loaded {
  visibility: visible;
}

#volume-btn:disabled {
  opacity: 0.7;
  color: #aaa;
  cursor: not-allowed;
}

#volume-slider {
  width: 75px;
  height: 4px;
  transform: rotate(-90deg);
  transform-origin: left center;
  position: absolute;
  bottom: 40px;
  left: 50%;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
